<div class="ui-panel login-panel animated bounceInDown">
    <form novalidate (ngSubmit)="onSubmit(form)"  [formGroup]="form">

    <header>
      <div class="left logo"> Register
        <a href="#logo"></a>
      </div>
      
      <div class="right">
        <a href="#close" id="close" class="ui-button close">
          x
        </a>
      </div>
    </header>
    <div class="login-form">
      <div class="subtitle"><div class="subtitle">or<a [routerLink]="['/auth/login']" [queryParams]="{debug: true}" >
        Login    </a></div></div>
      <input placeholder="email" type="text" formControlName="email" />
      <input placeholder="Password" type="password" formControlName="password" />
      <input placeholder="Verify Password" type="password" formControlName="verify" />
      <input placeholder="1-555-555-555" type="text" formControlName="phone" />
    </div>
  
    <footer>
      <div class="left social-login">
        Login with 
        <i class="fa fa-fw fa-twitter"></i>
        <i class="fa fa-fw fa-facebook"></i>
        <i class="fa fa-fw fa-google-plus"></i>
      </div>
      
      <div class="right form-actions">
          <button type="submit">Register</button>

     </div>
    </footer>
    </form>
  </div>


